body {
    width: 100%;
    margin: 0;
    background-color:black;
    color: white;
}

header {
    background-color:black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 18px;
    position: sticky;
    top: 0;
}

.maincontainer {
    width: 95%;
    margin: auto;
}
.topcontainer {
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 0 0 20px 20px;
    background: #00316DFF;
    background: linear-gradient(180deg, rgba(0, 49, 109, 1) 0%, rgba(18, 18, 18, 1) 35%);
}

.artist {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('./img/newjeans.jpeg');
    background-size: cover;
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.40);
    background-blend-mode: darken;
    padding: 50px;
    color: white;
    border-radius: 20px 20px 0 0;
}
.artist h1 {
    font-size: 80px;
    margin: 0;
}
.artist p {
    font-size: 24x;
    margin: 5px;
}

.topcontainer h2 {
    margin-top: 0;
}
.outbuttons {
    display: flex;
    gap: 25px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    align-items: center;
}
#outbutton-play {
    font-size: 24px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #c61f7a;
    border: 0;
}
#outbutton-shuffle {
    font-size: 36px;
    background-color: transparent;
    border: 0;
    color: white;
    margin-top: 10px;
}
#outbutton-follow {
    border: 2px solid #c61f7a;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

section img {
    width: 40px;
    height: 40px;
}
.trackcontainer {
    padding: 0 50px 0 15px;
    display: flex;
}

.trackcontainer:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.trackchild1 {
    display: flex;
    gap: 15px;
    flex: 1.2 0 auto;
    align-items: center;
}
.trackchild2 {
    display: flex;
    justify-content: space-between;
    flex: 0 1 45%;
}

.trackbutton {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    display: none;
}
.tracknum {
    margin: 0 8.5px;
}
.trackcontainer:hover .trackbutton {
    display: block;
}
.trackcontainer:hover .tracknum {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: black;
    padding: 15px;
    height: 50px;
}
footer img {
    width: 60px;
    height: 60px;
}
.now-playing-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.playbuttons {
    display: flex;
    gap: 20px;
    list-style-type: none;
}