body {
    width: 100%;
    height: 100vh;    
    margin: 0;
    background-color:black;
    color: white;
}

header {
    background-color:black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 18px;
    position: sticky;
    top: 0;
}

.maincontainer {
    width: 95%;
    height: 100%;
    margin: auto;
}
.topcontainer {
    margin-left: 50px;
}

.artist {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('./img/newjeans.jpeg');
    background-size: cover;
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.40);
    background-blend-mode: darken;
    padding: 50px;
    color: white;
    border-radius: 20px 20px 0 0;
}
.artist h1 {
    font-size: 80px;
    margin: 0;
}
.artist p {
    font-size: 24x;
    margin: 5px;
}

.outbuttons {
    display: flex;
    gap: 25px;
    height: 50px;
    list-style-type: none;
    padding: 0;
}

section img {
    width: 40px;
    height: 40px;
}
.trackcontainer {
    padding: 0 25px;
    display: flex;
}
.trackcontainer:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.trackchild1 {
    display: flex;
    gap: 15px;
    flex: 1.2 1 auto;
    align-items: center;
}
.trackchild2 {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.trackbutton {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    display: none;
}
.tracknum {
    margin: 0 8.5px;
}
.trackcontainer:hover .trackbutton {
    display: block;
}
.trackcontainer:hover .tracknum {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
}

.playbuttons {
    display: flex;
    gap: 20px;
    list-style-type: none;
}