body {
    margin: 0;
    width: 100%;
}
.aboutArtist, .aboutArtistText, .rightContainer {
    border-radius: 10px;
    background-color: #1f1f1f;
}

.maincontainer.about {
    background: #00316DFF;
    background: linear-gradient(180deg, rgba(0, 49, 109, 1) 0%, rgba(18, 18, 18, 1) 50%);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.leftContainer {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
.aboutArtist {
    flex: 1 0 auto;
    background-image: url('../img/hanni.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
    min-width: 500px;
    min-height: 520px;
}
.aboutArtistText{
    color: white;
    max-height: 200px;
    text-align: justify;
    padding: 20px;
}
.aboutArtistName {
    text-align: center;
    margin: 7px auto 20px auto;
    font-size: 32px;
}

.rightContainer {
    flex: 2.5;
    display: flex;
    flex-flow: column wrap;
}

.aboutNewjeans {
    text-align: center;
    font-size: 32px;
}
.aboutNewjeansProfile {
    flex: 1;
    background-image: url('../img/group-photo.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.aboutNewjeansProfile img {
    width: 200px;
    height: 280px;
    max-width: 200px;
    max-height: 280px;
    border-radius: 4px;

    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.aboutNewjeansText {
    text-align: justify;
    padding: 20px;
}

.aboutNewjeansProfile img:hover {
    -webkit-filter: brightness(100%);
}