body {
    height: 100%;
    width: 100%;
}

.maincontainer.contact {
    background: #00316DFF;
    background: linear-gradient(180deg, rgba(0, 49, 109, 1) 0%, rgba(18, 18, 18, 1) 80%);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
}
/* .heroText, .contactForm {
    background-color: #1f1f1f;
    border-radius: 10px;
} */

.heroText {
    text-align: center;
    font-size: 44px;
    padding: 0;
    margin: 0;
}
.heroText h1 {
    margin: 0;
}

.contactContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm {
    background-color: #1f1f1f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 50px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 60px;
    font-size: 17px;
}
.nameForm, .emailForm {
    display: flex;
    gap: 20px;
}
.nameForm span, .emailForm span{
    flex: 1;
}
.nameForm input, .emailForm input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
}
.messageForm {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
#submit {
    width: 101%;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    background-color: #c61f7a;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
}
#submit:hover {
    background-color: #cc2d84;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
}